# Instagram Graph API Access Token
# To get this:
# 1. Go to https://developers.facebook.com and create an app
# 2. Add "Instagram Basic Display" or "Instagram Graph API" product
# 3. Connect your Instagram business/creator account
# 4. Generate a long-lived access token
# 5. Paste it below
INSTAGRAM_ACCESS_TOKEN=your_token_here
